# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
**/tags

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

/.vs
/packages
[Oo]bj
[Bb]in
.cache*
paket-files/paket.locked
paket-files/paket.restore.cached
paket.lock
/TestResults
/HomeIrrigation.Weather.Service.Test/appsettings.json
/HomeIrrigation.Weather.Service/appsettings.json
/HomeIrrigation.Sprinkler.Service.Test/appsettings.json
/HomeIrrigation.Sprinkler.Service/appsettings.json
/HomeIrrigation.Api.Tests/appsettings.json
